<p id="notice"><%= notice %></p>

<h2 class="due2day_list_title"><%= @due2day_list.title %></h2>
<p class="due2day_list_sub_title"><%= @due2day_list.description %></p>

<div id="due2day_items_wrapper">
  <%= render @due2day_list.due2day_items %>
  <div id="form">
    <%= render "due2day_items/form" %>
  </div>
</div>

<div class="links">
  <%= link_to 'Back', due2day_lists_path %> |
  <%= link_to 'Edit', edit_due2day_list_path(@due2day_list) %> |
  <%= link_to 'Delete', due2day_list_path(@due2day_list), method: :delete, data: {confirm: "Ok to Delete"} %>
</div>
