<!-- <p><%#= due2day_item.content %></p> -->
<!-- <%#= link_to "Delete", due2day_list_due2day_item_path(@due2day_list, due2day_item.id), method: :delete, data: { confirm: "Click Ok to Delete" } %> -->
<!-- Error due to missing comma after 'delete' and non-plural item on due2day_item.id -->
<!-- <%#= link_to "Marked Complete", complete_due2day_list_due2day_item_path(@due2day_list, due2day_item.id), method: :patch %> -->

<div class="row clearfix">
  <% if due2day_item.completed? %>
      <div class="complete">
        <%= link_to complete_due2day_list_due2day_item_path(@due2day_list, due2day_item.id), method: :patch do %>
          <i style="opacity: 0.4;" class="fa fa-check"></i>
        <% end %>

      </div>
      <div class="due2day_item">
        <p style="opacity: 0.4;"><strike><%= due2day_item.content %></strike> </p>
      </div>
      <div class="trash">
        <%= link_to due2day_list_due2day_item_path(@due2day_list, due2day_item.id), method: :delete, data: { confirm: "Click Ok to Delete" } do %>
        <i class="fa fa-trash"></i>
        <% end %>
      </div>
  <% else %>
      <div class="complete">
        <%= link_to complete_due2day_list_due2day_item_path(@due2day_list, due2day_item.id), method: :patch do %>
          <i class="fa fa-check"></i>
        <% end %>
      </div>
      <div class="due2day_item">
        <p><%= due2day_item.content %></p>
      </div>
      <div class="trash">
        <%= link_to due2day_list_due2day_item_path(@due2day_list, due2day_item.id), method: :delete, data: { confirm: "Click Ok to Delete" } do %>
        <i class="fa fa-trash"></i>
        <% end %>
      </div>
  <% end %>
</div>
